* {
    padding: 0;
    margin: 0;
}

body {
    width: 375px;
    margin: 2% auto;
    height: 745px;
    position: relative;
    border-left: 10px solid #000;
    border-radius: 25px;
    border-right: 10px solid #000;
}


/* fix body chuẩn kick thước điện thoại */

main {
    width: 100%;
    height: 84%;
    background-image: url(../img/bg.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* main 
chiểu rộng 100% ăn theo body
background repeat : no repeat không lặp lại background
background-position : center chuẩn ở giữa
background-size: cover; đúng với kick thước hình ảnh
 */

header {
    width: 100%;
    height: 30px;
    background-color: #000;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px 0;
}

nav.wifi {
    padding-top: 10px;
    padding-left: 5px;
}

div.nav {
    width: 100%;
    display: flex;
    background-color: #fff;
}

.fa-battery-three-quarters {
    color: green
}

nav.menu {
    width: 3%;
    display: none;
}

nav.clock {
    width: 70%;
    padding: 10px 10px;
    text-align: center;
}

div.btn-menu {
    width: 30px;
    padding: 5px 0;
}

div.camera {
    width: 20px;
    /* margin: auto; */
    padding: 3px 2px;
    border-radius: 60%;
    border: 2px solid #ccc;
    color: rgb(70, 57, 57);
    text-align: center;
}

div.item {
    width: 100%;
    /* height: 3px; */
    border: 1px solid #000;
    margin: 5px 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #000;
    color: #fff;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px 0;
}

footer .home {
    width: 5%;
    margin: auto;
    background-color: #000;
    border-radius: 100%;
    border: 3px solid #fff;
    padding: 10px 0;
    padding: 10px;
    height: 30%;
}

.home .home-item {
    border: 1px solid rgb(179, 173, 173);
    width: 50%;
    margin: auto;
    height: 90%;
}

div.main {
    width: 100%;
    height: 100%;
}

p.out {
    color: #fff;
    display: none;
    position: absolute;
    top: 102px;
    right: 10px;
}

div.main_item {
    width: 80%;
    margin: 10% auto;
    border: 2px solid #fff;
    box-shadow: 2px 2px 5px #fff;
    height: 72%;
    border-radius: 15px;
}

div.wrap-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    margin: 10px 35px;
}

div.main_item-game {
    width: 30%;
    margin: 0 10px;
}

div.main_item-game p {
    width: 100%;
    text-shadow: 2px 1px #ffff;
    padding: 5px 0;
    font-weight: 600;
}

div.game {
    cursor: pointer;
    width: 100%;
    box-shadow: 2px 2px 5px #fff;
    border: 3px solid #fff;
    border-radius: 15px;
    /* height: 30%; */
}

img {
    max-width: 100%;
    border-radius: 15px;
    padding: 0;
    margin: 0;
}

iframe {
    /* z-index: 999999; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}